body{
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background.jpg");
    
}
.su-content {
    display: block;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin-bottom: 50px;
}
.signup {
    animation: fadeIn 2s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    /* opacity: 0.75; */
    border-radius: 10px;

}
.su-title {
    /* font-family: "Urbanist"; */
    font-size: 32px;
    padding: 10px;
    color: white;
    margin: 0;
}
.su-details {
    animation: fadeIn 3s;
    background-color:rgba(0, 0, 0, 0.8);
    /* opacity: 0.75; */
    width: 40%;
    margin: auto;
    display: block;
    border-radius: 10px;
    padding-bottom: 20px;
}
.fields {
    border-color: transparent;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    /* font-family: "Source Sans Pro"; */
}
p {
    padding: 0;
    margin: 0;
}
.su-text {
    padding-bottom: 5px;
    font-family: "Urbanist";
    font-size: 14px;
}
.su-email {
    /* padding-top:10px; */
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    color: white;
}
.su-pass {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    color: white;
}
.su-button {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.login{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    color: black;
    padding: 5px;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}
a.login:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}
a.reg{
    display:block;
    text-align:center;
    color: white;
}